name: merge-prices

on:
  schedule:
    - cron: '30 * * * *'
  workflow_dispatch:


jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: true   # ważne, żeby GITHUB_TOKEN działał przy push

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies (if any)
        run: npm ci || true

      - name: Run merge script
        env:
          SKINS_API_KEY: ${{ secrets.SKINS_API_KEY }}
        run: node mergePrices.mjs

      - name: Commit generated files (if changed)
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add public/mergedPriceList.json public/lastYoupin.json || true
          if ! git diff --staged --quiet; then
            git commit -m "Update merged prices (auto)" || echo "nothing to commit"
            git push origin HEAD:${{ github.ref_name }}
          else
            echo "No changes to commit"
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
